<div class="d-flex m-3">
    <div>
        <h2>{{message}} <b>{{textToBold}}</b> {{!hasImage? "?" :""}}</h2>
        <div class="d-flex" [ngClass]="{'justify-content-end' : !hasImage }">
            <div class="me-3" *ngIf="!hasImage"><button class="btn btn-primary" (click)="cancel()">Cancel</button></div>
            <div><button class="btn btn-primary" (click)="close()">{{buttonText}}</button></div>
        </div>
    </div>
    <div>
        <img *ngIf="hasImage" [src]="imageSrc"/> 
    </div>
</div>
