<div class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="bi bi-list-task me-2"></i>To Do List</h5>
          </div>
          <div class="card-body" style="position: relative; max-height:500px; overflow-y: auto;">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Title</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="toDoList.length > 0; else emptyResult">  
                <tr class="fw-normal" *ngFor="let item of toDoList; index as i">
                  <td class="align-middle">
                    <span>{{i+1}}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{item.title}}</span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0">
                      <div *ngIf="item.priority === priorityEnum.High" class="badge bg-danger">High priority</div>
                      <div *ngIf="item.priority === priorityEnum.Medium" class="badge bg-warning">Medium priority</div>
                      <div *ngIf="item.priority === priorityEnum.Low" class="badge bg-success">Low priority</div>
                    </h6>
                  </td>
                  <td class="align-middle">
                    <span>{{item.dueDate | date : 'dd-MM-yyyy HH:mm:ss'}}</span>
                  </td>
                  <td class="align-middle">
                    <div [ngSwitch]="item.status">
                      <ng-container *ngSwitchCase="statusEnum.Active">Active</ng-container>
                      <ng-container *ngSwitchCase="statusEnum.Inactive">Inactive</ng-container>
                      <ng-container *ngSwitchCase="statusEnum.Completed">Completed</ng-container>
                      <ng-container *ngSwitchCase="statusEnum.Expired">Expired</ng-container>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="icon-button" title="Complete" *ngIf="item.status != statusEnum.Completed" (click)="updateStatus(item)">
                      <i class="bi bi-check-lg text-success me-3"></i></button>
                    <button class="icon-button" title="Edit" (click)="editItem(item)">
                      <i class="bi bi-pencil-square text-warning me-3"></i></button>               
                    <button class="icon-button" title="Remove" (click)="removeItem(item)">
                      <i class="bi bi-trash3 text-danger me-3"></i></button>
                  </td>
                </tr>
              </tbody>
              <ng-template #emptyResult>
                <tr>
                  <td colspan="7" class="text-center"><h6 class="text-danger m-0">No record found!</h6></td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="card-footer text-end p-3">
            <button class="btn btn-primary" (click)="addItem()">Add Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
